.enter {
  display: flex;
  flex: 1;
  margin-right: 10px;
  align-items: center;
  justify-content: right;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 35px;
}

.return-data {
  font-size: medium;
}
.tab-item {
  font-size: 40px;
}

@media screen and (max-width: 580px) {
  .enter {
    /* color: transparent; */
    display: none;
  }
}
